@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;

    background-color: rgb(119, 0, 153);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Press Start 2P', cursive;
}

.menu {
    display: flex;
}

.item {
    padding: 20px;
    color: white;

    font-size: 0.7rem;

    cursor: pointer;

    transition: background 200ms;
}

.item:hover {
    background-color: #842785;
    border-radius: 5px;
}

.cantos {
    width: 200px;
    margin: 0 20px;

    font-size: 1rem;
    font-weight: 600;

    color: white;
}

.logo {
    filter: brightness(0) invert(1);
}

.hamburguer {
    display: none;
    background: none;
    border: none;
    outline: none;
}

.line {
    width: 25px;
    height: 2px;
    background-color: white;
}

.line:nth-child(2) {
    margin: 5px 0;
}

@media (max-width: 950px) {
    .hamburguer {
        display: block;
    }

    .navbar {
        position: relative;
    }

    .menu { 
        position: absolute;
        z-index: -1;
        left: 0;
        top: -200px;
        background-color: #770099;
        transition: top 1s;
    }

    .navbar {
        flex-direction: column;
    }

    .cantos {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #770099;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}