@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
    max-width: 1400px;

    padding: 0 20px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.item {
    padding: 20px;
    color: white;

    font-size: 0.7rem;

    cursor: pointer;

    font-family: 'Press Start 2P', cursive;

    transition: background 200ms;
}

.item:hover {
    background-color: #842785;
    border-radius: 5px;
}

.cantos {
    width: 200px;
}

.logo {
    filter: brightness(0) invert(1);
}

.hamburguer {
    display: none;
    background: none;
    border: none;
    outline: none;
}

.line {
    width: 25px;
    height: 2px;
    background-color: white;
}

.line:nth-child(2) {
    margin: 5px 0;
}

.downloadBtn {
    background-color: white;
    padding: 7px 20px;
    border-radius: 5px;
    color: #770099;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 120px;

    margin-left: auto;
}

@media (max-width: 950px) {
    .hamburguer {
        display: block;
        margin-left: 20px;
    }

    .navbar {
        position: relative;
    }

    .menu { 
        position: absolute;
        z-index: -1;
        left: 0;
        top: -200px;
        background-color: #770099;
        transition: top 200ms;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .cantos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #770099;
    }
}

@media (max-width: 350px) {
    .downloadBtn {
        width: 70px;
        padding: 8px;
    }    
    
    .downloadBtn img {
        width: 15px;
    }

    .logo {
        width: 40px;
    }
}